.mail-desk {
  &__header {
    font-weight: bold;
  }
  &__drag-panel {
    width: 100%;
    min-height: 20px;
    &_lightblue {
      background: lightblue;
    }
    &_whitesmoke {
      background: whitesmoke;
    }
  }
}